---

import Layout from '@layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1>Garden Madness</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate neque voluptatem, mollitia ducimus officiis hic suscipit tenetur, similique quos recusandae placeat dolorem! Nihil facere ipsum non iste, voluptates eos placeat!</p>
</Layout>
